@model Web_CuoiKy.Models.San_Pham

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_layout.cshtml";
}

<h2>Xóa sản phẩm</h2>

<h3>Bạn có muốn xóa?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MALOAISP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MALOAISP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TENSP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TENSP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MOTA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MOTA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GIA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GIA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SOLUONG)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SOLUONG)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TINHTRANG)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TINHTRANG)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LUOTVIEW)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LUOTVIEW)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HINH)
        </dt>

        <dd>
            <img src="@Url.Content("~/Images/"+Model.HINH)" width="100" height="50" />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HINH1)
        </dt>

        <dd>
            <img src="@Url.Content("~/Images/"+Model.HINH1)" width="100" height="50" />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HINH2)
        </dt>

        <dd>
            <img src="@Url.Content("~/Images/"+Model.HINH2)" width="100" height="50" />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HINH3)
        </dt>

        <dd>
            <img src="@Url.Content("~/Images/"+Model.HINH3)" width="100" height="50" />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HINH4)
        </dt>

        <dd>
            <img src="@Url.Content("~/Images/"+Model.HINH4)" width="100" height="50" />
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
