@model Web_CuoiKy.Models.San_Pham

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_layout.cshtml";
}
<style>
    .form-group img{ 
        height:100px;

    }

</style>
<h2>Sửa thông tin sản phẩm</h2>

@using (Html.BeginForm("Edit", "SP", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.MASP)
    <div class="form-group">
        @Html.LabelFor(model => model.TENSP, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.TENSP, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.TENSP, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.MOTA, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.MOTA, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.MOTA, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.GIA, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.GIA, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.GIA, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.SOLUONG, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.SOLUONG, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.SOLUONG, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.TINHTRANG, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.TINHTRANG, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.TINHTRANG, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.LUOTVIEW, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.LUOTVIEW, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.LUOTVIEW, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.MALOAISP, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.MALOAISP, null, "---Chọn 1 loại---", new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.MALOAISP, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.HINH, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <input name="HINH" type="file" />
            <br />
            <img src="@Url.Content("~/Images/"+Model.HINH)" />
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.HINH1, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <input name="HINH1" type="file" />
            <br />
            <img src="@Url.Content("~/Images/"+Model.HINH1)"/>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.HINH2, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <input name="HINH2" type="file" />
            <br />
            <img src="@Url.Content("~/Images/"+Model.HINH2)"  />
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.HINH3, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <input name="HINH3" type="file" />
            <br />
            <img src="@Url.Content("~/Images/"+Model.HINH3)" />
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.HINH4, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <input name="HINH4" type="file" />
            <br />
            <img src="@Url.Content("~/Images/"+Model.HINH4)" />
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Lưu" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
